
<h1 @Cms.Edit("zoo-title")>
    @Model.Text("zoo-title.jcr:title", "Please provide a title")
</h1>

<p @Cms.Edit("zoo-description")>
    @Model.Html("zoo-description.text", "Please provide a description")
</p>

@Html.Partial("Components/_LinkButton", new CmsComponentModel {
    cms = Model.Content("see-aquatic-btn"),
    key = "see-aquatic-btn" 
})